/* css styles */
h1 {
    font-weight: 400;
    font-size: 300%;
    color: #48D1CC;
}
h2 {
  font-weight: 400;
  font-size: 200%;
  color: #48D1CC;
}

h3 {
  font-weight: 400;
  font-size: 150%;
  color: #48D1CC;
}

.cell-output {
  background-color: #FAFAD2;
}

.cell-output img {
    margin: 3%
}